<!doctype html>
<html lang="et">
<head>
    <meta charset="utf-8">
    <title>Student list</title>

    <style type="text/css">
        .ng-cloak { display: none }
    </style>
    <link rel="stylesheet" href="prof-view-styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
</head>

<body class="ng-cloak" ng-app="app" ng-controller="StudentCtrl as vm">

<div class="prof-view-container">
    <div>
        <h1>Students results</h1>
        <input type="text" id="searchInput" onkeyup="search()" placeholder="Search">
        <a class="refresh" ng-click="vm.insertStudent()">Load data</a>
        <div class="student-list-container">
            <table id="studentsTable">
                <tr>
                    <th class="table-head-username">Username</th>
                    <th class="table-head-time">Time</th>
                    <th class="table-head-date">Date</th>
                    <th class="table-head-server">Server</th>
                    <th class="table-head-database">Database</th>
                    <th class="table-head-php">PHP</th>
                    <th class="table-head-web_manager">Web management environment</th>
                </tr>
                <tr ng-repeat="student in vm.students">
                    <td class="table-data-username">{{ student.studentName }}</td>
                    <td class="table-data-time">{{ student.studentTime }}</td>
                    <td class="table-data-date">{{ student.testDate }}</td>
                    <td class="table-data-server">{{ student.apache }}</td>
                    <td class="table-data-database">{{ student.mariaDB }}</td>
                    <td class="table-data-php">{{ student.php }}</td>
                    <td class="table-data-web_manager">{{ student.web_manager }}</td>
                </tr>
            </table>
        </div>
        <div>
            <a class="download-data" onclick="exportTableToExcel('studentsTable')">Download student data</a>
        </div>
    </div>
</div>
</body>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="app/app.js"></script>
<script src="app/http.srv.js"></script>
<script src="app/message.srv.js"></script>
<script src="app/student.ctrl.js"></script>
<script src="app/search.js"></script>
<script src="app/exportExcel.js"></script>

</html>
