body {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cbe86b), to(#f2e9e1)) #f2e9e1 no-repeat;
}

.prof-view-container {
    background-color: #ffd9b3;
    box-shadow: 6px 6px 20px 5px rgba(0, 0, 0, 0.2);
    min-height: 500px;
    margin: 100px auto 0;
    padding: 10px;
    width: 1281px;
}

.prof-view-container > div {
    background-color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    min-height: 500px;
    text-align: left;
    padding: 20px 40px;
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

a,
#searchInput {
    border: 2px solid rgba(125,159,186,0.5);
    color: #666666;
    font-size: 16px;
    padding: 2px 5px;
    text-decoration: none;
    -webkit-border-radius: 10px;
}

a {
    cursor: pointer;
}

*:focus {outline:none}

.student-list-container {
    margin: 30px 0;
}

table {
    border-spacing: 0;
}

tr, td, th {
    border: 1px solid #666666;
    margin: 0;
}

th,
td {
    padding: 5px;
    text-align: center;
    width: 250px;
}

th {
    font-size: 18px;
    text-decoration: underline;
}